<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @ticket.token %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ticket.department %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @ticket.text %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
